In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
wikidiz_file = "WikiDisney.csv"
wikidiz_df = pd.read_csv(wikidiz_file)
wikidiz_df.head(25)

   Type of Film                           Title          US Release
0             L                      Toby Tyler    January 21, 1960
1             L                       Kidnapped   February 24, 1960
2             L                       Pollyanna        May 19, 1960
3             L               The Sign of Zorro       June 11, 1960
4             N                      Jungle Cat     August 10, 1960
5             L                   Ten Who Dared    November 1, 1960
6             L           Swiss Family Robinson   December 21, 1960
7             A  One Hundred and One Dalmatians    January 25, 1961
8             L     The Absent-Minded Professor      March 16, 1961
9             L                 The Parent Trap       June 21, 1961
10            L    Nikki, Wild Dog of the North       July 12, 1961
11            L                Greyfriars Bobby       July 17, 1961
12            L                Babes in Toyland   December 14, 1961
13            L                      Moon Pilot       April 5, 1962
14            L                     Bon Voyage!        May 17, 1962
15            L                         Big Red        June 6, 1962
16            L                   Almost Angels  September 26, 1962
17            L              The Legend of Lobo    November 7, 1962
18            L      In Search of the Castaways   December 21, 1962
19            L                  Son of Flubber    January 16, 1963
20            L  Miracle of the White Stallions      March 29, 1963
21            L                      Savage Sam        June 1, 1963
22            L                    Summer Magic        July 7, 1963
23            L          The Incredible Journey   November 20, 1963
24            A          The Sword in the Stone   December 25, 1963

In [3]:
listdiz_file = "disneylist.csv"
listdiz_df = pd.read_csv(listdiz_file)
listdiz_df.head(25)

                                          TITLE     YEAR
0                       Pinocchio (Live-Action)  Unknown
1                                  Kim Possible      TBA
2                                        TRON 3  Stalled
3                                   Enchanted 2      DEV
4                                          Tink      DEV
5                                      Gigantic     2020
6                                 Jungle Cruise     2020
7                                      Frozen 2     2019
8                           Dumbo (Live-Action)     2019
9                                 Descendants 3     2019
10                          Mulan (Live-Action)     2019
11                                  Toy Story 4     2019
12                                The Lion King     2019
13                                      Aladdin     2019
14                         Mary Poppins Returns     2018
15                                   Magic Camp     2018
16                        Cruella (Live-Action)     2018
17  Wreck-It Ralph 2: Ralph Breaks the Internet     2018
18                                Freaky Friday     2018
19                            A Wrinkle in Time     2018
20                                      Zombies     2018
21                                Incredibles 2     2018
22                                       Cars 3     2017
23                         Beauty and the Beast     2017
24                                         Coco     2017

In [4]:
imdbdiz_file = "IMDBDisney.csv"
imdbdiz_df = pd.read_csv(imdbdiz_file,encoding="UTF-8")
imdbdiz_df.head()

,Title,year,Metascore,IMDB,link
0,The Jungle Book,-2016,77,7.4,https://www.imdb.com/title/tt3040964/?ref_=tx_...
1,The Black Cauldron,-1985,59,6.5,https://www.imdb.com/title/tt0088814/?ref_=tx_...
2,Frozen (I),-2013,74,7.5,https://www.imdb.com/title/tt2294629/?ref_=tx_...
3,Christopher Robin,-2018,60,7.3,https://www.imdb.com/title/tt4575576/?ref_=tx_...
4,Beauty and the Beast,-2017,65,7.2,https://www.imdb.com/title/tt2771200/?ref_=tx_...

In [5]:
grossdiz_file = "grossmovie.csv"
grossdiz_df = pd.read_csv(grossdiz_file,encoding="UTF-8")
grossdiz_df.head()

,Year,Title,Worldwide gross,Budget,Total Sales
0,1937,Snow White and the Seven Dwarfs,"$418,200,000+ ($8,500,000)R","$1,488,423",426700000
1,1939,Gulliver's Travels,"$3,200,000*","$700,000",3200000
2,1940,Pinocchio,"$87,000,862* ($3,500,000)R","$2,600,000",90500862
3,1941,Dumbo,"$1,600,000*","$950,000",1600000
4,1942,Bambi,"$267,447,150 ($3,449,353)R","$1,700,000–2,000,000",270896503

In [6]:
chardiz_file = "dischar.csv"
chardiz_df = pd.read_csv(chardiz_file,encoding="UTF-8")
chardiz_df.head()

,movie_title,release_date,hero,villian,song
0,\nSnow White and the Seven Dwarfs,21-Dec-37,Snow White,Evil Queen,Some Day My Prince Will Come
1,\nPinocchio,7-Feb-40,Pinocchio,Stromboli,When You Wish upon a Star
2,\nFantasia,13-Nov-40,NaN,Chernabog,NaN
3,Dumbo,23-Oct-41,Dumbo,Ringmaster,Baby Mine
4,\nBambi,13-Aug-42,Bambi,Hunter,Love Is a Song

In [7]:
voiceactdiz_file = "disney_voice_actors.csv"
voiceactdiz_df = pd.read_csv(voiceactdiz_file, encoding="UTF-8")
voiceactdiz_df.head(25)

,character,voice_actor,movie
0,Abby Mallard,Joan Cusack,Chicken Little
1,Abigail Gabble,Monica Evans,The Aristocats
2,Abis Mal,Jason Alexander,The Return of Jafar
3,Abu,Frank Welker,Aladdin
4,Achilles,None,The Hunchback of Notre Dame
5,Adella,Sherry Lynn,The Little Mermaid
6,Adorabeezle Winterpop,None,Wreck-It Ralph
7,The Agent,Greg Germann,Bolt
8,Agent Wendy Pleakley,Kevin McDonald,Lilo & Stitch
9,Ajax the Gorilla,None,Donald Duck and the Gorilla
10,Akela,John Abbott,The Jungle Book
11,Al the Alligator,Thurl Ravenscroft,Lady and the Tramp
12,Aladar,D. B. Sweeney,Dinosaur
13,Aladdin,Scott Weinger; Brad Kane,Aladdin
14,Alameda Slim,Randy Quaid,Home on the Range
15,Alan-a-Dale,Roger Miller,Robin Hood
16,Alana,Kimmy Robertson,The Little Mermaid
17,Alcmene,Barbara Barrie,Hercules
18,Alice,Kathryn Beaumont,Alice in Wonderland
19,Alice Bluebonnet,None,Make Mine Music
20,Alice's Sister,Heather Angel,Alice in Wonderland
21,Amelia Gabble,Carole Shelley,The Aristocats
22,Amos Slade,Jack Albertson,The Fox and the Hound
23,Amphitryon,Hal Holbrook,Hercules
24,Anastasia Tremaine,Lucille Bliss,Cinderella

In [8]:
#f'mysql://{connection_string}'

In [9]:
connection_string = "root:password1@127.0.0.1/disney"
engine = create_engine(f'mysql://{connection_string}')

In [10]:
engine.table_names()

['dis_characters',
 'dis_voices',
 'disneygrosssales',
 'disneylist',
 'imdbdisney',
 'wikidisney']

In [11]:
# Send the Wikipedia Disney data to SQL
wikidiz_df.to_sql(name='wikidisney', con=engine, if_exists='append', index=False)

In [12]:
# Send the Disney List data to SQL
listdiz_df.to_sql(name='disneylist', con=engine, if_exists='append', index=False)

In [13]:
# Send the IMDB Disney data to SQL
imdbdiz_df.drop('year',axis=1).to_sql(name='imdbdisney', con=engine, if_exists='append', index=False)

In [14]:
imdbdiz_df.head()

,Title,year,Metascore,IMDB,link
0,The Jungle Book,-2016,77,7.4,https://www.imdb.com/title/tt3040964/?ref_=tx_...
1,The Black Cauldron,-1985,59,6.5,https://www.imdb.com/title/tt0088814/?ref_=tx_...
2,Frozen (I),-2013,74,7.5,https://www.imdb.com/title/tt2294629/?ref_=tx_...
3,Christopher Robin,-2018,60,7.3,https://www.imdb.com/title/tt4575576/?ref_=tx_...
4,Beauty and the Beast,-2017,65,7.2,https://www.imdb.com/title/tt2771200/?ref_=tx_...

In [15]:
# Send the Gross Movie Sales data to SQL
grossdiz_df.to_sql(name='disneygrosssales', con=engine, if_exists='append', index=False)

UnicodeEncodeError: 'latin-1' codec can't encode character '\u2013' in position 57: ordinal not in range(256)

In [16]:
# # Send the Disney Character data to SQL
chardiz_df.to_sql(name='dis_characters', con=engine, if_exists='append', index=False)

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'villian' in 'field list'")
[SQL: INSERT INTO dis_characters (movie_title, release_date, hero, villian, song) VALUES (%(movie_title)s, %(release_date)s, %(hero)s, %(villian)s, %(song)s)]
[parameters: ({'movie_title': '\nSnow White and the Seven Dwarfs', 'release_date': '21-Dec-37', 'hero': 'Snow White', 'villian': 'Evil Queen', 'song': 'Some Day My Prince Will Come'}, {'movie_title': '\nPinocchio', 'release_date': '7-Feb-40', 'hero': 'Pinocchio', 'villian': 'Stromboli', 'song': 'When You Wish upon a Star'}, {'movie_title': '\nFantasia', 'release_date': '13-Nov-40', 'hero': None, 'villian': 'Chernabog', 'song': None}, {'movie_title': 'Dumbo', 'release_date': '23-Oct-41', 'hero': 'Dumbo', 'villian': 'Ringmaster', 'song': 'Baby Mine'}, {'movie_title': '\nBambi', 'release_date': '13-Aug-42', 'hero': 'Bambi', 'villian': 'Hunter', 'song': 'Love Is a Song'}, {'movie_title': '\nSaludos Amigos', 'release_date': '6-Feb-43', 'hero': 'Donald Duck', 'villian': None, 'song': 'Saludos Amigos\n'})]
(Background on this error at: http://sqlalche.me/e/2j85)

In [17]:
# # Send the Disney Voice Actor data to SQL
voiceactdiz_df.to_sql(name='dis_voices', con=engine, if_exists='append', index=False)